*{
    box-sizing: border-box;
}
.container{
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 4.8rem 2.4rem;
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
}

#float-label {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    position: relative;
    margin: 10px;
}

#float-label input {
    width: 100%;
    height: 56px;
    padding: 14px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 4rem !important;
   
}

#float-label label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    color: #999;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 22px) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
}
#float-label:focus-within label {
    transform: translate(0, 12px) scale(0.75);
}
#float-label .Active {
    transform: translate(0, 12px) scale(0.75);
}

.btn-type{
   margin-top: 1.6rem;
   width: 100%;
   color: #fff;
   position: relative;
   align-items: center;
   border: none;
   cursor: pointer;
   display: inline-flex;
   min-width: 8rem;
   padding: 0 1.2rem;
   height: 3rem  !important;
   justify-content: center;
   background-color: rgb(15, 173, 15);
}