
.card-groups-leftside{
    display: block;
    justify-content:center;
    background-color: rgb(54, 53, 53);
    color: rgb(211, 217, 223);
    text-align: center;
    padding-top:25px;
    padding-bottom: 25px;
    
}
.card-groups-rightside{
    display:flex;
    justify-content: center!important; 
}

.btnAddToCard{
    display: contents;
    background-color:rgb(211, 217, 223) !important;
    color:rgb(211, 217, 223);
    
}

.row{
--bs-gutter-x: 0;
}